.about {
  width: 100%;
  height: 300px;
  text-align: center;
  background: url(../../assets/webpack.svg) no-repeat;

  .about-title {
    position: absolute;
    vertical-align: middle;
    margin: auto;
    padding-top: 25px;
    color:rgb(100, 34, 17);
  }
}