.home {
  width: 100%;
  height: 300px;
  text-align: center;
  background: url(../../assets/webpack.svg) no-repeat;

  .home-title {
    vertical-align: middle;
    margin: auto;
    padding-top: 25px;
    color:rgb(44, 44, 44);
  }
}